[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
hamlish-jinja = "*"
flask-scss = "*"
flask-bcrypt = "*"
flask-wtf = "*"
wtforms-components = "*"
python-dateutil = "*"
flask-login = "*"
pillow = "*"
flask-bleach = "*"
py-gfm = "*"
humanize = "*"
flask-migrate = "*"
flask-script = "*"
flask-msearch = "*"
whoosh = "*"
blinker = "*"

[requires]
python_version = "3.7"
