[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
hamlish-jinja = "*"
flask-scss = "*"
flask-bcrypt = "*"
flask-wtf = "*"
wtforms-components = "*"
python-dateutil = "*"
flask-login = "*"
pillow = "*"
flask-bleach = "*"
py-gfm = "==0.1.4"
humanize = "*"
flask-migrate = "==2.5.2"
flask-script = "*"
flask-msearch = "*"
whoosh = "*"
blinker = "*"
werkzeug = "==0.15.6"
markupsafe = "==1.1.1"
bleach = "==3.1.0"
markdown = "*"
wtforms = "==2.2.1"

[requires]
python_version = "3.7"
