@import 'main/normalize';
// Standard box model stuff
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
// Variables
$theme-color: #727687;

// bootstrap colors
$msg-system-pink: #DC3545;
$msg-system-yellow: #FFC107;
$msg-system-cyan: #17A2B8;
$msg-system-white: #F8F9FA;
$msg-system-lime: #28A745;

$search-roundness: 4px;
$page-roundness: 6px;
$page-width: 90%;
/* Main */
body {
  background-color: $theme-color;
  font-family: Verdana, sans-serif;
  overflow-y: scroll;
}

.contains {
  width: $page-width;
  margin: auto;
}

main {
  background: adjust-color($theme-color, $lightness:38%, $saturation:2%);
  color: adjust-color($theme-color, $lightness:-35%, $saturation:5%);
  padding: 16px;
}

.contains > main{
  border:1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);
  border-top: none;
}

#main-nav {
  background-color: adjust-color($theme-color, $lightness:-15%, $saturation:2%);
  background-image: linear-gradient(to bottom,
                    adjust-color($theme-color, $lightness:-15%, $saturation:2%) 60%,
                    adjust-color($theme-color, $lightness:-20%, $saturation:6%));
  color: adjust-color($theme-color, $lightness:35%, $saturation:2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3em 10% 0;

  > * {
    margin: 0 16px;
  }
  // Logo
  #heading-logo {
    color: adjust-color($theme-color, $lightness:40%, $saturation:2%);
    font-family: "trebuchet ms", sans-serif;
    text-shadow:2px 2px 2px rgba(#000,.4);
  }
  // Search elements
  #search {
    display: flex;
    box-shadow: 0 2px 4px rgba(#000,.3);
    border-radius: $search-roundness;
    width:60%;
  }

  %s-common {
    float: left;
    padding: 4px 8px;
    font-size: 0.75em;
    height: 2.1em;
  }

  #s-text {
    // Textbox
    @extend %s-common;
    border-radius: $search-roundness 0 0 $search-roundness;
    border: 1px solid #000;
    background-color: #f0f0f0;
    color: #222;
    flex:1 0 0;
  }

  #s-cat {
    // Category selection
    @extend %s-common;
    border: 1px solid #000;
    background-color: adjust-color($theme-color, $lightness:-25%, $saturation:15%);
    background-image: linear-gradient(to bottom,
                      adjust-color($theme-color, $lightness:-25%, $saturation:2%),
                      adjust-color($theme-color, $lightness:-35%, $saturation:2%));
    color: adjust-color($theme-color, $lightness:35%, $saturation:2%);
  }

  #s-button {
    // Button
    @extend %s-common;
    border-radius: 0 $search-roundness $search-roundness 0;
    border: 1px solid #000;
    font-weight: 700;
    background-color: adjust-color($theme-color, $lightness:10%, $saturation:20%);
    background-image: linear-gradient(to bottom,
                      adjust-color($theme-color, $lightness:10%, $saturation:20%),
                      adjust-color($theme-color, $lightness:-10%, $saturation:20%));
    box-shadow: inset 1px 1px 0 0 rgba(adjust-color($theme-color, $lightness:40%, $saturation:20%),.5);
    color: #222;
  }
  // Menu
  #main-menu {
    padding-left: 0;
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}

#user-nav {
  position: absolute;
  top: 0;
  width: 100%;

  #username, #password{
    background: #fff;
    color: #000;
    border: 0;
    height:2em;
    padding: 8px;
  }

  .nav-container {
    width: 80%;
    height:3em;
    margin: auto;
    padding: 8px;
    background-color: adjust-color($theme-color, $lightness:-25%, $saturation:10%);
    color: adjust-color($theme-color, $lightness:35%, $saturation:2%);
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 $search-roundness $search-roundness;

    ul{
      margin: 0;

      li{
        padding: 0 4px;
      }
    }
  }

  input {
    border-radius: $search-roundness;
  }

  a {
    color: inherit;
  }

}

ul.is-menu{
  display: inline-block;
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }
}

footer {
  background-color: adjust-color($theme-color, $lightness:-15%, $saturation:2%);
  color: adjust-color($theme-color, $lightness:35%, $saturation:2%);
  width: $page-width;
  margin: auto;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 0 0 $page-roundness $page-roundness;

  a {
    color: inherit;
  }

  #copyright {
    text-align: center;
  }
}

section > .thumbs-container{
  border:1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);
  border-top:none;
}
// Section heading
.main-heading {
  font-family: 'trebuchet ms', sans-serif;
  margin: 16px 0 0;
  padding: 16px 16px 0 16px;
  background: adjust-color($theme-color, $lightness:25%, $saturation:2%);
  background-image: linear-gradient(to bottom,
                    adjust-color($theme-color, $lightness:30%, $saturation:2%),
                    adjust-color($theme-color, $lightness:18%, $saturation:8%));
  color: adjust-color($theme-color, $lightness:-25%, $saturation:2%);
  display: block;
  border-radius: $page-roundness $page-roundness 0 0;
  border:1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);

  > h2 {
    margin: 0;
    padding: 8px 16px;
    display: inline-block;
  }

  #by {
    display: inline-block;
  }

  p{
    margin: 0;
  }

  #category{
    padding-bottom:16px;

    a{
      color:inherit;
    }
  }
}

.tabbed-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: none;

  #tabbing {
    li {
      padding: 8px 12px;
      border-radius: 4px 4px 0 0;

      &.selected {
        background: adjust-color($theme-color, $lightness:38%, $saturation:2%);
      }
    }
  }
}
// Thumbnails
.thumbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px;
}

.thumb-holder {
  height: 300px;
  margin-bottom: 5px;
  text-align: center;
  flex: 0 0 205px;
}

.thumb-text {
  font-size: 0.8em;

  %thumb-text-common {
    display: block;
    margin: 2px auto;
  }

  .title {
    @extend %thumb-text-common;
  }

  .author {
    @extend %thumb-text-common;
    font-size: 0.8em;
  }

  .cat {
    @extend %thumb-text-common;
    font-size: 0.8em;
    color: adjust-color($theme-color, $lightness:5%, $saturation:2%);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
// Flash messages
#system-messages {
  display: block;
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  %msg-common {
    margin: 6px 0;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(#000,.4);
    background-image: linear-gradient(to bottom,
                      transparent,
                      rgba(#000,.2));
    text-shadow: 0 1px rgba(#222,.4);
  }

  li {
    &.msg-error {
      @extend %msg-common;
      background-color: $msg-system-pink;
      color: #fff;
    }

    &.msg-warning {
      @extend %msg-common;
      background-color: $msg-system-yellow;
    }

    &.msg-info {
      @extend %msg-common;
      background-color: $msg-system-cyan;
      color: #fff;
    }

    &.msg-message {
      @extend %msg-common;
      background-color: $msg-system-white;
    }

    &.msg-success {
      @extend %msg-common;
      background-color: $msg-system-lime;
      color: #fff;
    }
  }
}

/* Browse UI */
#browse {
  display: flex;
}

#browse-cats {
  display: inline-block;
  width: 12em;
  vertical-align: top;
  background: adjust-color($theme-color, $lightness:30%, $saturation:0%);
  background-image: linear-gradient(to bottom,
                    adjust-color($theme-color, $lightness:28%, $saturation:2%),
                    adjust-color($theme-color, $lightness:20%, $saturation:2%));
  border-right: 1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);
  border-left:1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);
  font-size: 0.8em;
  line-height: 1.8;

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      padding-left: 8px;

      &:hover {
        background-color: #bfcabf;
      }

      &.selected {
        font-weight: 700;
        color: #fff;
        background-color: #498091;
        padding-left: 4px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      display: block;
    }
  }
}

#browse-main {
  display: inline-block;
  padding: 40px 10px;
  width: 100%;
  border-right: 1px solid adjust-color($theme-color, $lightness:10%, $saturation:2%);
}

/* Login and Register */

.ui-common-form {
  .form-remark{
    display: block;
    opacity: .7;
    margin-left: 25%;
    margin-top:.5em;
    padding-left: 1.3em;
    font-size: .9em;
    width: 20em;
  }

  form {
    font-size: 0.8em;

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    select,
    textarea {
      height: 1.8em;
      border:1px solid rgba(#000,.3);
      border-radius: 4px;
    }

    textarea{
      padding:4px;
    }

    legend {
      font-size: 1em;
      padding: 4px;
    }

    label {
      display: inline-block;
      text-align: right;
      width: 25%;
      margin: 0 10px 20px 0;
      font-weight: 800;
      vertical-align: top;
    }

    label[for="agree_tos"] {
      margin: 0 0 10px 10px;
      width: auto;
      text-align: left;
    }

    #agree_tos,
    #submit {
      margin-left: 25%;
    }

    #preview-button {
      display: block;
      margin-top:1em;
      margin-left:25%;
      position: relative;
      left:1em;
      text-align: center;
    }

    fieldset {
      background-color: rgba(#000,.05);
      border: 1px solid rgba(#000,.1);
      margin-bottom: 10px;
      padding: 10px;
    }

    #has_nsfw {
      display: inline-block;
      list-style-type: none;
      padding-left: 0;

      li {
        display: inline-block;
      }
    }

    #preview {
      display: block;
      margin: 12px auto;
      border: 1px solid grey;
      padding: 5px;
    }

    #description {
      width: 50%;
      height: 18em;
    }

    #title {
      font-weight: 700;
    }

    #username {
      width: 8em;
    }

    #dispname {
      width: 20em;
    }

    #confirm_password,
    #password {
      width: 15em;
    }

    #confirm_email,
    #email {
      width: 13em;
    }
  }
}

.ui-action-button {
  background: $theme-color;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  width: auto;
}

.ui-expand-button {
  display: none;

  &:checked + label {
    + .ui-expand-target {
      max-height: 99em;
      transition: max-height 1s ease-in-out;
    }
  }

  + label {
    // FIXME: styling: differentiate this from ui-action-button
    background: $theme-color;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    width: auto !important;

    + .ui-expand-target {
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    }
  }
}

.ui-expand-target {
  line-height: 1.7;
  background-color: rgba(#fff,.4);
  border-radius: 4px;
}
/* Art page */
#artpage {
  aside {
    width: 12%;
    display: table-cell;
    vertical-align: top;
    background-color: rgba(#000,.1);
    border-radius: $page-roundness $page-roundness $page-roundness $page-roundness;
    padding:8px;

    ul{
      margin:0 0 1.5em 0;
      padding-left: 0;
      list-style-type: none;
      line-height: 1.5;
      font-size: .9em;

      li{
        margin:.25em 0;
      }
    }

    a{
      color: inherit;
    }
  }

  #mainart {
    display: table-cell;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  #artmeta {
    width: 100%;
    margin-top:32px;
    display: table;

    #desc {
      display: table-cell;
      background-color: rgba(black,.05);
      padding: 0 16px;
    }

    #details {
      display: table-cell;
      width: 17em;
      font-size: .9em;
      border-left:2px solid rgba(#000,.2);
      padding: 0 16px;
      background-color: rgba(white,.2);

      ul{
        list-style-type: square;
        padding-left: 1em;
        margin:0;
        line-height: 1.7;
      }
    }
  }
}
/* User page */
#userdetails {
  display: flex;
  justify-content: space-around;

  .portion {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;

    ul {
      padding-left: 0;
      list-style-type: none;
      margin: 0;
    }
  }
}

#userinfo{
  h2{
    vertical-align: middle;
    margin: 0;
  }
  p{
    margin: 8px 0 8px 55px;
  }
}

a{
  color:inherit;
}

.ui-form-required:after{
  content:"*";
  color:red;
  vertical-align: super;
  font-size: .8em;
}
