<!doctype html>
%html(lang="en")
  %head
    %title
      {{ site_name }}
      -if tagline|length
        | : {{tagline}}
    %meta(charset="utf-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %link(href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet")
    -block head
  %body
    %nav#main-nav
      %a#heading-logo(href="/")
        %h1 << {{ site_name }}
      %form#search(method="get" action="/search")
        %input#s-text(type="text" name="q", accesskey="s" placeholder="Search..." value="{{ query }}")
        %select#s-cat(size="1" name="cat")
          -for cat in search_categories
            %option(value="{{cat}}") << {{search_categories[cat]}}
        %input#s-button(type="submit"  value="Go")
      %ul#main-menu
        %li << Browse
        %li << Chat
    %nav#user-nav
      .nav-container
        %form#login(method="post" action="/login")
          %label(for="username")
            Username:
          %input#username.darker(type="text" name="username")
          %label(for="password")
            Password:
          %input#password.darker(type="password" name="password")
          %input#login-button(type="submit" value="Login")
          …or hey, why not <a href="/register">register</a>!
          %span#lost-pw
            <!--%a(href="#") << Lost my password lol-->

    .contains
    ; FIXME: Add styling to flashed messages.
      -with messages = get_flashed_messages()
        -if messages
          -for message in messages
            %h3 << {{ message }}
      -block contents

    %footer
      #copyright
        %p
          &copy; 2019 ZoomTen
        %p
          %a(href="#") << About Us
          | |
          %a(href="#") << FAQ
          | &bull;
          %a(href="#") << Privacy
          | |
          %a(href="#") << Source Code
