-extends 'base.haml'

-block contents
  -if username
    .main-heading
      %h2
        %img(src="{{ avatar }}" width=50 height=50)
        {{ username }}
    %main#userpage
      ; FIXME: Populate this
      ; FIXME: Add another table for user content
      %p
        Placeholder userpage content
  -else
    .main-heading
      %h2 << User not found
    %main#userpage
      %p
        The user you're looking for cannot be found. Sorry!
