// FIXME: add a linter just so I can do away with color literals.

@import 'main/normalize';

// Standard box model stuff

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

// Variables
$light:(
  'bg': #D6DED4,
  'text': #233231
);

$dark:(
  'bg': #35433E,
  'text': #D8E4CC
);

$search-roundness: 4px;
$page-width: 90%;


/* Main */

body{
  background-color: #728776;
  font-family: Verdana, sans-serif;
  overflow-y: scroll;
}

.contains{
  width: $page-width;
  margin: auto;
}

main{
  background-color: map-get($light, 'bg');
  color: map-get($light, 'text');
  padding:16px;
}

#main-nav{
  background-color: #4B5F54;
  color: map-get($dark, 'text');

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:3em 10% 0 10%;

  > *{
    margin:0 16px;
  }
  // Logo
  #heading-logo{
    color: map-get($dark, 'text');
    font-family: "trebuchet ms", sans-serif;
  }

  // Search elements
  #search{
    display: inline-block;
    box-shadow: 0 2px 4px rgba(#000,.3);
    border-radius: $search-roundness;
  }
  %s-common{
    float: left;
    padding: 4px 8px;
    font-size: .75em;
    height:2em;
  }
  #s-text{ // Textbox
    @extend %s-common;
    border-radius: $search-roundness 0 0 $search-roundness;
    border:1px solid #000;
    background-color: #f0f0f0;
    color: #222;
  }
  #s-cat{ // Category selection
    @extend %s-common;
    border:1px solid #000;
    background-color: map-get($dark, 'bg');
    color: map-get($dark, 'text');
  }
  #s-button{ // Button
    @extend %s-common;
    border-radius: 0 $search-roundness $search-roundness 0;
    border:1px solid #000;
    font-weight: 700;
    background-color: #41de59;
    color: #222;
  }

  // Menu
  #main-menu{
    padding-left: 0;
    list-style-type: none;
    li{
      display: inline-block;
    }
  }
}

#user-nav{
  position: absolute;
  top:0;
  width:100%;

  .nav-container{
    width: 80%;
    margin: auto;
    padding:4px;
    background-color: #40534A;
    color: map-get($dark, 'text');
    font-size: .8em;
    display: flex;
    justify-content: space-between;
  }

  input{
    border-radius: $search-roundness;
  }

  a{
    color: inherit;
  }

  // FIXME: consider using classes instead of name IDs
  #userhud, #actionhud{
    display: inline-block;
    padding-left: 0;
    list-style-type: none;

    li{
      display: inline-block;
    }
  }
}

footer{
  background-color: #4D625D;
  color: map-get($dark, 'text');
  width: $page-width;
  margin: auto;
  font-size: .8em;
  padding: 10px;

  a{
    color: inherit;
  }

  #copyright{
    text-align: center;
  }
}

// Section heading
.main-heading{
  font-family: 'trebuchet ms', sans-serif;
  margin:16px 0 0 0;
  padding:16px 16px 0 0;
  background: #B3C4B0;
  color: #3B5A4A;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    margin: 0;
    padding:0 16px;
  }

  ul.tabbing{
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li{
      display: inline-block;
      padding:8px 12px;
      border-radius: 4px 4px 0 0;

      &.selected{
        background:#D6DED4;
      }
    }
  }
}

// Thumbnails
.thumbs-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.thumb-holder{
  height: 300px;
  margin-bottom: 5px;
  text-align: center;
  flex: 0 0 300px;
}
.thumb-text{
  font-size:.8em;
  %thumb-text-common{
    display: block;
    margin: 2px auto;
  }
  .title{
    @extend %thumb-text-common;
  }
  .author{
    @extend %thumb-text-common;
    font-size:.8em;
  }
  .cat{
    @extend %thumb-text-common;
    font-size:.8em;
    color: #738281;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

// Flash messages
#system-messages{
  // FIXME: make the colors a little nicer for system messages
  list-style-type: none;
  padding-left:0;

  %msg-common{
      margin:6px 0;
      padding:8px;
      border-radius: 4px;
      box-shadow:0 3px 6px rgba(#000,.4);
  }

  li{
    &.msg-error{
      @extend %msg-common;
      background: pink;
    }
    &.msg-warning{
      @extend %msg-common;
      background: yellow;
    }
    &.msg-info{
      @extend %msg-common;
      background: cyan;
    }
    &.msg-message{
      @extend %msg-common;
      background: white;
    }
    &.msg-success{
      @extend %msg-common;
      background: lime;
    }
  }
}

/* Browse UI */

#browse{
  display: flex;
}
#browse-cats{
  display: inline-block;
  width:12em;
  vertical-align: top;
  background: #CCD7CC;
  border-right:1px solid #9FB1A3;
  font-size:.8em;
  line-height:1.8;
  ul{
    padding-left:0;
    list-style-type: none;
    li{
      padding-left:8px;
      &:hover{
        background-color: #bfcabf;
      }
      &.selected{
        font-weight: 700;
        color: #fff;
        background-color: #498091;
        padding-left:4px;
      }
    }
    a{
      color: inherit;
      text-decoration: none;
      width:100%;
      display:block;
    }
  }
}
#browse-main{
  display: inline-block;
  padding:40px 10px;
  width: 100%;
}

/* Login and Register */

//FIXME: Clean this up and convert the form IDs into common classes
#register, #login, #upload{
  form{
    font-size:.8em;
    input[type="text"],
    input[type="password"],
    input[type="email"]{
      height:1.7em;
    }
    legend{
      font-size:1em;
      padding:4px;
    }
    label{
      display:inline-block;
      text-align: right;
      width:25%;
      margin: 0 10px 10px 0;
      font-weight: 800;
    }
    label[for="agree_tos"]{
      margin:0 0 10px 10px;
      width:auto;
      text-align: left;
    }
    #agree_tos{
      margin-left:25%;
    }
    fieldset{
      background-color: rgba(#000,.05);
      border:1px solid rgba(#000,.1);
      margin-bottom:10px;
      padding: 10px;
    }
    #username{
      width:8em;
    }
    #dispname{
      width:20em;
    }
    #password,
    #confirm_password{
      width:15em;
    }
    #email,
    #confirm_email{
      width:13em;
    }
    #submit{
      // FIXME: Style the sign up button
      background: green;
      border:0;
      border-radius: 5px;
      color: #fff;
      padding:6px 12px;
      text-align: center;
      margin-left:25%;
    }
  }
}
