-extends 'base.haml'

-block contents
  -if art
    .main-heading
      %a(href="/user/{{ by.username|e }}", style="text-decoration:none;")
        %img(src="{{ url_for('static', filename='avatar/'+by.avatar) }}" width=50 height=50)
      %h2#heading
        {{ art.title|e }}
      %p#by
        by
        %a(href="/user/{{ by.username }}")
          {{ by.username|e }}
      %p#category
        Category:
        -for i in cat:
          %a(href="{{ url_for('browse.do_browse') + '?cat=' + i.id|e }}") << {{ i.title }}
          -if cat.index(i) != cat|length-1
            |/

    %main#artpage
      %aside
        %strong << Image
        %ul
          %li
            %a(href="{{ url_for('static', filename='uploads/'+art.image) }}")
              Full View
          ; XXX: art: implement sharing
          -if user.is_authenticated
            -if favorited
              %li
                %a#rmfav(href='javascript:void(0);') << Remove from Favorites
            -else
              %li
                %a#addfav(href='javascript:void(0);') << Add to Favorites
          %li
            %a#share(href='javascript:void(0);') << Share

        -if user == art.by
          %strong << Edit
          %ul
            %li
              %a(href='{{ url_for("upload.do_edit", art_id=art.id) }}') << Edit Art
            %li
              %a#deletthis(href='javascript:void(0);') << Delete Art
        -else
          %strong << More
          %ul
            %li
              %a(href="{{ url_for('gallery.view_gallery', username=by.username|e) }}")
                More from {{by.username|e}}
            %li
              %a(href="{{ url_for('userpage.view_userpage', username=by.username|e) }}")
                See {{by.username|e}}'s profile

      %section#mainart
        ; XXX: art: bigger thumbnails. related: upload.
        %img(src="{{ url_for('static', filename='thumbnail/'+art.thumbnail) }}" height=200)

      %section#artmeta
        #desc
          %p
            %strong << Artist's Comments
            {{ description }}
        #details
          %p
            %strong << Details
            %ul
              ; FIXME: art: make functions for comments
              %li << Submitted: {{ published }}
              %li << Filesize: {{ filesize }}
              %li << Resolution: {{ resolution[0] }}x{{ resolution[1] }}
              ; %li << Comments: ???
              %li << Favorites: {{ favorites_count }}
              %li << In <strong>{{ collection_count }}</strong> collections
          %p
           %strong << Views
           %ul
             %li << Total: {{ viewcount }}
             %li << Today: ???
             %li << This week: ???
          %p
            %strong << Other (TESTING)
            %ul
              %li << Tags: {{ art.tags|e }}
              %li << NSFW Rating: {{ art.nsfw }}
              %li << License: {{ art.license }}
          ; %p
          ;   %strong << Embed Code<br>
          ;   %input(value="> code here")
          ;   %br
          ;   %strong << Thumbnail Link<br>
          ;   %input(value="> thumbnail link here")
    %script
      -if user.is_authenticated
        -if user == art.by
          | document.getElementById('deletthis').onclick = function(){
          |   var xhr = new XMLHttpRequest();
          |   var delet = confirm('Are you sure you want to delete this?')
          |
          |     xhr.onload = function(){
          |       if (this.status == 200){
          |         alert("Successfully deleted. You'll be redirected to your user page.");
          |         window.location.href = '{{ url_for('userpage.view_userpage', username=art.by.username) }}';
          |      }
          |      else {
          |        alert("Can't delete the art.");
          |      }
          |    }
          |
          |     if (delet){
          |       xhr.open('DELETE', '{{ url_for('art.view_art', art_id=art.id) }}', true);
          |       xhr.send()
          |     }
          |
          |   }
          |
        -if favorited
          | document.getElementById('rmfav').onclick = function(){
          |   var xhr = new XMLHttpRequest();
          |   var addfav = confirm('Remove from favorites?')
          |
          |     xhr.onload = function(){
          |       alert(this.responseText)
          |       location.reload(true)
          |    }
          |
          |     if (addfav){
          |       xhr.open('POST', '{{ url_for('collection.user_rm_favorite') }}', true);
          |       xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          |       xhr.send('art=' + encodeURI({{art.id}}))
          |     }
          |
          |   }
        -else
          | document.getElementById('addfav').onclick = function(){
          |   var xhr = new XMLHttpRequest();
          |   var addfav = confirm('Add to favorites?')
          |
          |     xhr.onload = function(){
          |       alert(this.responseText)
          |       location.reload(true)
          |    }
          |
          |     if (addfav){
          |       xhr.open('POST', '{{ url_for('collection.user_add_favorite') }}', true);
          |       xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          |       xhr.send('art=' + encodeURI({{art.id}}))
          |     }
          |
          |   }

  -else
    .main-heading
      %h2#heading << Art not found

    %main#userpage
      %p
        The art you're looking for cannot be found. Sorry!
