-extends 'base.haml'

-block contents
  -if art
    .main-heading
      %a(href="/user/{{ by.username|e }}")
        %img(src="{{ url_for('static', filename='avatar/'+by.avatar) }}" width=50 height=50)
      %h2#heading
        {{ art.title|e }}
      %p#by
        by
        %a(href="/user/{{ by.username }}")
          {{ by.username|e }}
      %p#category
        Category:
        -for i in cat:
          -if cat.index(i) == cat|length-1
            ; child category
            ; XXX: template/art: implement category linking
            %a(href="#") << {{ i.title }}
          -else
            ; root category
            %a(href="#") << {{ i.title }}
            |/

    %main#artpage
      %aside
        %strong << Image
        %ul
          %li
            %a(href="{{ url_for('static', filename='uploads/'+art.image) }}")
              Full View
          ; XXX: art: implement favorites and sharing
          ; %li << Add to Favorites
          ; %li << Share

        -if user == art.by
          ; XXX: template/art: implement art editing and deleting. can use upload forms for that.
          %strong << Edit
          %ul
            %li << Edit Art (non-functional)
            %li << Delete Art (non-functional)
        -else
          %strong << More
          %ul
            %li
              %a(href="{{ url_for('gallery.view_gallery', username=by.username|e) }}")
                More from {{by.username|e}}
            %li
              %a(href="{{ url_for('userpage.view_userpage', username=by.username|e) }}")
                See {{by.username|e}}'s profile

      %section#mainart
        ; TODO: art: bigger thumbnails. related: upload.
        %img(src="{{ url_for('static', filename='thumbnail/'+art.thumbnail) }}" height=200)

      %section#artmeta
        #desc
          %p
            %strong << Artist's Comments
            {{ description }}
        #details
          %p
            %strong << Details
            %ul
              ; FIXME: art: make functions for filesize, resolution, etc.
              %li << Submitted: {{ published }}
              %li << Filesize: {{ filesize }}
              %li << Resolution: {{ resolution[0] }}x{{ resolution[1] }}
              ; %li << Comments: ???
              ; %li << Favorites: {{ art.favorites }}
              ; %li << In <strong>???</strong> collections
          ; %p
          ;   %strong << Views
          ;   %ul
          ;     %li << Total: {{ art.views }}
          ;     %li << Today: ???
          ;     %li << This week: ???
          %p
            %strong << Other (TESTING)
            %ul
              %li << Tags: {{ art.tags|e }}
              %li << NSFW Rating: {{ art.nsfw }}
              %li << License: {{ art.license }}
          ; %p
          ;   %strong << Embed Code<br>
          ;   %input(value="> code here")
          ;   %br
          ;   %strong << Thumbnail Link<br>
          ;   %input(value="> thumbnail link here")

  -else
    .main-heading
      %h2#heading << Art not found

    %main#userpage
      %p
        The art you're looking for cannot be found. Sorry!
