-extends 'base.haml'

-block contents
  .tabbed-heading.main-heading
    %h2#heading << Browse
    %ul#tabbing.is-menu
      ; XXX: browse: implement trending function
      ;%li
      ;  %a(href="#") << Trending
      %li.selected
        %a(href="#") << 10 Newest

  #browse
    %nav#browse-cats
      ; XXX: template/browse: Replace these categories with a loop over the category database once the browse function is expanded.
      %ul
        %li.selected
          %a(href="#") << All Categories
        %li
          %a(href="#") << (Currently nonfunctional)
        ;%li
        ;  %a(href="#") << Traditional
        ;%li
        ;  %a(href="#") << Digital
        ;%li
        ;  %a(href="#") << Photo
        ;%li
        ;  %a(href="#") << Literature
        ;%li
        ;  %a(href="#") << Crafts
        ;%li
        ;  %a(href="#") << App Designs
        ;%li.has-divide
        ;  %a(href="#") << Refsheets
        ;%li
        ;  %a(href="#") << Meta
        ;%li
        ;  %a(href="#") << Scraps

    %main#browse-main
      .thumbs-container
        -for entry in gallery_snips
          .thumb-holder
            .thumb-image
              %a(href="{{ entry['link'] }}")
                %img(height="150" src="{{ entry['thumb'] }}")
            .thumb-text
              %span.title
                %a(href="{{ entry['link'] }}") << {{ entry['title'] }}
              %span.author
                by
                %a(href="{{ entry['bylink'] }}") << {{ entry['byname'] }}
              %span.cat
                in
                %a(href="{{ entry['catlink'] }}") << {{ entry['catname'] }}

      ; XXX: browse: implement pagination.
      ;.controls
      ;  %p
      ;    Previous Page
      ;  %p
      ;    %a(href="#") << Next Page
