-extends 'base.haml'

-block contents
  .main-heading
    %h2#heading << Edit your Art
  %main#upload.ui-common-form
    %form(action="/edit/{{art.id}}", method="post" enctype="multipart/form-data")
      {{ form.csrf_token }}
      %fieldset
        %legend << Meta
        {{ form.title.label(class_="ui-form-required") }}
        {{ form.title }}
        %br
        {{ form.category.label(class_="ui-form-required") }}
        {{ form.category }}
        %br
        {{ form.tags.label }}
        {{ form.tags }}

      %fieldset
        %legend << Content
        %img#preview(src="{{ url_for('static', filename='PlaceholderforArt.png')}}" height=200)
        {{ form.image.label(class_="ui-form-required") }}
        {{ form.image }}
        %br
        {{ form.description.label }}
        {{ form.description }}
        %span.form-remark
          ; FIXME: upload: make a markdown explanation page
          You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> here.
        %button.ui-action-button#preview-button(type='button')
          Preview Text
      %fieldset
        %legend << Preview contents
        %section#preview-contents
          Your preview here
      %fieldset
        %legend << Other
        {{ form.has_nsfw.label(class_="ui-form-required") }}
        {{ form.has_nsfw }}
        %br
        {{ form.license.label(class_="ui-form-required") }}
        {{ form.license }}
        %input#license-about.ui-expand-button(type="checkbox", hidden)
        %label(for="license-about")
          What's this?
        .ui-expand-target#license-explain
          %ul
            %li
              %strong << All rights reserved
              means that your art is protected
              by copyright, and that you reserve
              (or hold) your copy rights on the piece.
            %li
              %strong << Creative Commons.
              Anything that starts with
              a "CC". But what do those other letters
              mean? Here's a summary:
              %ul
                %li
                  %strong << BY
                  | - Attribution, as in, people who want
                  to use your art must state "by" whom
                  the art was made.
                %li
                  %strong << NC
                  | - Non-Commercial. People who use your
                  work must not use it for monetary gain
                  or sell things based off it.
                %li
                  %strong << ND
                  | - No Derivatives. People must not modify
                  your work if they want to repost it.
                %li
                  %strong << SA
                  | - Share-Alike. Any work that has this
                  license must be reposted with the exact
                  same license. For example, works licensed
                  "CC BY-NC-SA" must be reposted with the
                  "CC BY-NC-SA" license as well.
            %li
              %strong << Public Domain.
              | - Basically anyone can use your work however
              they want. Pick this if you're doing clipart
              or similar works.
      %fieldset
        {{ form.agree_tos }}
        {{ form.agree_tos.label(class_="ui-form-required") }}

      {{ form.submit(class_="ui-action-button") }}
  %script
    ; FIXME: template/upload: Handle "no file" cases
    | document.getElementById("image").onchange = function(){
    |     var read = new FileReader();
    |
    |     read.onload = function(e){
    |         document.getElementById("preview").src = e.target.result;
    |     };
    |
    |     read.readAsDataURL(this.files[0]);
    | }
    | document.getElementById("preview-button").onclick = function(){
    |   var xhr = new XMLHttpRequest();
    |   var description = document.getElementById("description").value
    |   var preview_element = document.getElementById("preview-contents");
    |
    |   xhr.open('POST', '{{ url_for('preview.make_preview') }}', true);
    |   xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    |
    |   xhr.onreadystatechange = function(){
    |      if (this.readyState == 4 && this.status == 200){
    |       preview_element.innerHTML = this.responseText;
    |      }
    |   }
    |
    |   xhr.send('content=' + encodeURI(description))
    | }
