-extends 'base.haml'

-block contents
  .main-heading
    %h2#heading << Login
  %main#login.ui-common-form
    %form(action="/login", method="post")
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}
      %br
      {{ form.password.label }}
      {{ form.password(autocomplete="off") }}
      %br
      {{ form.submit(class_="ui-action-button") }}
