-extends 'base.haml'

-block contents
  ; XXX: template/search: implement search
  .main-heading
    %h2#heading << Search Art
  %main
    %p
      This functionality is currently not available. Sorry!
