-extends 'base.haml'

-block contents
  -if username
    .main-heading
      %h2
        %img(src="{{ avatar }}" width=50 height=50)
        {{ username|e }}
    %main#userpage
      ; FIXME: template/userpage: populate this
      ; FIXME: template/userpage: add another table for user content
      %p
        Placeholder userpage content
  -else
    .main-heading
      %h2 << User not found
    %main#userpage
      %p
        The user you're looking for cannot be found. Sorry!
